<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Employees</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Employee</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- update employee form -->
        <%- include('include/_update_employee_form')%>
        <!-- /update employee form -->
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->